.navbar {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-content: center;
    background: white;
    border-top: 1px solid rgba(0,0,0,.125);
    bottom: 0;  
    height: 42px; 
    position: absolute; 
}