header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: sticky; 
    top: 0;
    background-color: white;
}


.navbar-brand {
    a{
        text-decoration: none;
        color: black;
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

.nav-item {
    a {
        text-decoration: none;
        color: black;
        margin: 6px;
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

.logout {
    margin: 6px;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}