@import './components/Navbar.scss';
@import './components/home.scss';
@import './components/products.scss';



* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


